@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yanone+Kaffeesatz:wght@300&display=swap');

:root {
  --page-back-colour: lightgrey;
  
  --body-back-colour: white;
  --body-heading-colour: black;
  --body-text-colour: black;
  
  --link-text-colour: blue;
  
  --header-back-colour: #038C65;
  --header-title-colour: black;
  
  --menu-link-colour: black;

  --info-back-colour: white;
  --info-border-colour: #495B73;
  --info-heading-colour: black;
  --info-text-colour: black;
  
  --offers-back-colour: #038C4C;
  --offers-heading-colour: white;
  --offers-text-colour: white;
  
  --contact-heading-colour: black;
  
  --times-back-colour: #025939;
  --times-heading-colour: white;
  --times-text-colour: white;
  
  --form-label-colour: black;
  --form-button-colour: #F2CB05;
  --form-button-text: black;

  --social-back-colour: #592B02;
  --social-icon-colour: white;

  --footer-back-colour: black;
  --footer-text-colour: white;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

