html{
    font-family: 'Courier New', Courier, monospace;
    font: 30px;
}

button, input{
    font-size: inherit;
    display: block;
}

div {
    border: 2px solid #000;
    padding: 0.5rem;
    margin: 1rem;
}