* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: auto;
    height: auto;
    padding: 6rem;
    align-content: center;
    justify-content: center;
}

html {
    background-color: gray;
    color: white;
    align-content: center   ;
    max-width: 30rem;
    margin: 1rem auto;
}


label {
    font-family: Arial, Helvetica, sans-serif;
    color: ivory;
    
}

button {
    color: black;
}


form {
    position: inherit;
    background-color: rgba(180, 131, 180, 0.158);
    max-width: 15rem;
    max-height: 15rem;
    justify-content: center;
    align-self: center;
    margin: 8rem;
}

body {
    align-content: center;
    max-width: 30rem;
    margin: 1rem auto;
    background-color: black;
}

h2 {

    align-items: center;
    position: inherit;
}