* {
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    color: #036;
    padding: 0;
    margin: 0;
}

header {
    background: #036;
    color: #fff;
}

footer {
    background: #333;
    color: #999;
    font-size: 0.8em;
}

header, footer, section {
    padding: 0.5rem 1rem;
}

#intro {
    font-size: 5em;
    padding: 5rem 1rem;
}

#stuff, #details {
    background: #444;
    color: #fff;
}

#help {
    color: #600;
}

#help, #things {
    padding: 0;
}

#help div, #things div {
    border: 1px solid #ccc;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    display: inline-block;
    padding: 0.3em 0.6em;
    background: #fff;
    text-decoration: none;
}

nav a:hover {
    background: #ff0;
}

/*** PUT YOUR CODE BELOW HERE **************************************************/

header {
    display: flex;
    justify-content: space-between;
}

nav ul{
    display:flex ;
    justify-content: center;
    gap: 1rem;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#things {
    display: flex;
    min-height: 30vh;
    justify-content: space-evenly;
    gap: 2rem;
}

#help {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#help div {
    width: 100%;
    max-width: 15rem;
}

#intro {
    display: flex;
    font-size: 3rem;
    align-items: center;
}