<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Demo</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <h1>HTMX Demo</h1>
<div
hx-get="intro.html"
hx-swap="innerHTML"
hx-trigger="load"
>this text will be replaced</div>

<input
type="text"
hx-get="message.html"
hx-target="#keybox"
hx-trigger="Keyup"


    <button
        hx-get="message.html"
        hx-swap="innerHTML"
    >Click me to replace me</button>

    <button
        hx-get="message.html"
        hx-target="#messagebox"
        hx-swap="innerHTML"
    >Click Me To load a message</button>

    <div id="messagebox">Do it!</div>

    <button
    hx-get="date.php"
    hx-target="#datebox"
    hx-swap="innerHTML"
    >Click me to see the date</button>


    <div id="datebox">what time is it?</div>
</body>
</html>